@charset "UTF-8";


.fc-sun{
    /*background: #FFAEB9;*/
    color: #B22222;
    font-weight: bold;
}

.fc-sat{
    /*background: #1C86EE;*/
    color: #0000CD;
    font-weight: bold;
}

.fc-day-header{
    background: #B5B5B5;
}


/*===========================================*/
/*            form centralizado              */
/*===========================================*/
.formpersonal{ 
    width: 300px; 
    height: 300px; 
    left: 55%; 
    margin: -100px 0px 150px -210px; 
    padding:10px;
    position: relative;
    top: 100px;
}

@media all and (max-width: 400px){
	.formpersonal{
	    left: 65%;
	}
}
/*===========================================*/

